<paper-card *ngFor="let wine of wines; let i=index"
            image="assets/images/{{wine.type}}-wine-small.png" class="layout vertical">
  <div class="card-content flex layout vertical">
    <div class="wine-header">
      {{wine.name}}
      <div class="wine-year">
        {{wine.year}}
      </div>
    </div>
    <div class="secondary">
      {{wine.type}}
      <div class="country">{{wine.country}}</div>
    </div>
    <p class="description flex self-stretch">
      {{wine.description}}
      <span *ngIf="hasNoDescription(wine)" class="empty">- no description -</span>
    </p>
  </div>
  <div class="card-actions">
    <paper-button (click)="onSelected.emit(wine)">Edit</paper-button>
    <paper-button (click)="onDeleted.emit(wine)">Remove</paper-button>
  </div>
</paper-card>
